.section {
    border : 1px solid white;
    margin-bottom: 30px;
    padding: 10px;
    min-height: 200px;
}

.line-section {
    border : 1px solid white;
    margin-bottom: 30px;
    padding: 10px;
}

.bg-not-so-dark {
    background-color: #707580 !important
}

.fa-stack-small {
    font-size:0.8em;
}

.info-rssi {
    position: relative;
    display: inline-block;
    line-height: 0.8em;
}

.signal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.search-result .card-body:hover {
    background-color: #007580 !important;
    cursor: pointer;
}
